body {
  background-color: #ccc;
}

.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.box {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
  padding: 30px;
}

.converterBox {
  margin-bottom: 40px;
}